.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-description {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.contact-info {
  text-align: center; /* Centra il contenuto */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente gli elementi */
}

.contact-info p {
  margin: 8px 0;
  font-size: 1rem;
}

.contact-label {
  font-weight: bold;
  color: #333;
}

/* Modulo di contatto */
.contact-form {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #6e0000;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.contact-form button:hover {
  background-color: #555;
}
